<footer>
  <div class="container">
    <div class="nav">
      <a href="/index.html" class="logo">
        <svg class="icon" width="130" height="32">
          <use href="/image/icon.svg#icon-myteam-logo"></use>
        </svg>
      </a>
      <ul class="list-page">
        <li><a href="/index.html">home</a></li>
        <li><a href="/about.html">about</a></li>
      </ul>
    </div>
    <div class="footer-info">
      <address>
        <strong>Address:</strong> 987 Hillcrest Lane<br />
        Irvine, CA 92714, California
      </address>
      <p><strong>Phone:</strong> <a href="tel:+19498337432">949-833-7432</a></p>
      <p>
        <strong>Email:</strong> <a href="mailto:info@example.com">info@example.com</a>
      </p>
    </div>
    <div>
      <ul class="list-link">
        <li>
          <a href="/index.html">
            <svg class="icon" width="32" height="32">
              <use href="/image/icon.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="/index.html">
            <svg class="icon" width="32" height="32">
              <use href="/image/icon.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="/index.html">
            <svg class="icon" width="32" height="32">
              <use href="/image/icon.svg#icon-pacman"></use>
            </svg>
          </a>
        </li>
      </ul>
      <p class="copyright">Copyright 2020. All Rights Reserved</p>
    </div>
  </div>
</footer>
