html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--sans-serif);
  color: var(--text-white);
  background-color: var(--bg-midnight-green);
  line-height: 1.5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3 {
  color: var(--text-white);
  margin: 0;
  padding: 0;
}

p {
  color: var(--text-white);
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-style: normal;
  color: var(--text-white);
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1280px) {
    max-width: 1280px;
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: 1440px) {
    max-width: 1440px;
    padding-left: 165px;
    padding-right: 165px;
  }
}
