header {
  position: sticky;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 48px;

    @media (min-width: 768px) {
      padding-top: 72px;
      padding-bottom: 72px;
    }
  }

  .list {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      align-items: center;
      gap: 40px;
      font-weight: 600;
      font-size: 18px;

      .contact {
        color: var(--text-white);
        border: 2px solid var(--text-white);
        padding: 8px 28px;
        border-radius: 20px;
        font-weight: 600;
      }
    }
  }

  .menu {
    fill: var(--text-white);
    @media (min-width: 768px) {
      display: none;
    }
  }
}
